html{
    background-color: #E5E5F7;
    opacity: 1.0;
    background-image: -moz-radial-gradient(#444CF7 1px, #E5E5F7 1px);
    background-size: 20px 20px;
}

body {
    background-image: url('images/lewis.jpgd');
  }

header {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background:#d4ae02;
	border-bottom:solid 1px rgba(0,0,0,0.0);
}

.nav ul li{
    display: inline-block;
    margin-right: 20px;
    scroll-padding-block: 20px;
    background-color: transparent;
    padding: 10 px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;  
} 

nav li{
    font-size: 25px;
    width: 20%;
    display: inline-block;
    text-align: center;
}

.nav ul{
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
  }

  nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  nav a:hover{
    text-decoration: underline;
    color: rgb(12, 0, 0);
  }
.h1, .h11{
font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
text-decoration-line: underline;
text-align: center;
text-shadow: 5px;
}

h3{
    font-family: serif;
    text-decoration: wavy;
    font-size: 14px;
}
.date{
text-indent: 300px;
text-align: right;
}

.projects a:hover{
    color: rgb(0, 0, 0);
}

.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(37, 37, 37);
color: white;
text-align: center;
}
.biodata{
  text-align:center;
}
.cont{
  font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  text-align: center;
  text-shadow: 5px;
  }
  
  .welcome{
    width: 211px;
    height: 1px;
    padding-top: 40px;
  }
  .projects{
    padding-bottom: 35px;
    text-decoration:dashed ;
  }
  .work{
  padding: 0 5px 0 0;
  overflow: hidden;
  }
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
    
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    height: auto;
    border: 1px solid rgb(32, 26, 26);
    border-radius: 4px;
    padding: 5px;
    flex: 33.33%;
    padding: 5px;
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  img{
    width: 100px;
    height: 150px;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }